In [19]:
from glob import glob
import pandas as pd

files = glob('data/*.csv')
files

['data/sub-est2016_all.csv',
 'data/Pregnant_Women_Participating.csv',
 'data/Food_Costs.csv',
 'data/Children_Participating.csv',
 'data/GOOG.csv',
 'data/file.csv']

In [20]:
food = pd.read_csv(files[2])
food.head()

,State Agency or Indian Tribal Organization,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,Cumulative Cost
0,Connecticut,2339387.0,2464447.0,2319323.0,2515399.0,2194009.0,2210381.0,2507437.0,2408707.0,2443166.0,2553654.0,2622336.0,2573846.0,29152092
1,Maine,981475.0,970857.0,935511.0,1037893.0,938496.0,987493.0,1048891.0,1096180.0,1013398.0,1022928.0,1050511.0,1027977.0,12111610
2,Massachusetts,4516908.0,4742321.0,4124801.0,4600864.0,3977568.0,4094482.0,4806932.0,4391487.0,4424307.0,4821185.0,4904850.0,4739411.0,54145116
3,New Hampshire,483172.0,468438.0,392224.0,491667.0,466753.0,479816.0,519721.0,420840.0,424442.0,524571.0,538310.0,528634.0,5738588
4,New York,29070117.0,27552258.0,25821860.0,27627921.0,25842457.0,25814592.0,27316049.0,26671643.0,26746066.0,26425279.0,26941821.0,26470820.0,322300883

In [21]:
child = pd.read_csv(files[3])
child.head()

,State Agency or Indian Tribal Organization,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,Average Participation
0,Connecticut,29609.0,28435.0,27719.0,28180.0,26794.0,27475.0,27475.0,28084.0,27945.0,28522.0,28574.0,28714.0,28127.166666666668
1,Maine,13150.0,12777.0,12458.0,12430.0,12283.0,12388.0,12341.0,12361.0,12261.0,12241.0,12268.0,12230.0,12432.333333333334
2,Massachusetts,62801.0,66409.0,59556.0,61794.0,59578.0,59074.0,64659.0,62047.0,61363.0,65021.0,64826.0,65379.0,62708.916666666664
3,New Hampshire,7813.0,7609.0,7512.0,7556.0,7443.0,7414.0,7532.0,7565.0,7539.0,7523.0,7486.0,7607.0,7549.916666666667
4,New York,273263.0,267664.0,262113.0,259260.0,257025.0,257682.0,256974.0,258815.0,259168.0,258861.0,257653.0,258822.0,260608.33333333334

In [22]:
child.shape

(92, 14)

In [23]:
child.slice_shift()

,State Agency or Indian Tribal Organization,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,Average Participation
1,Connecticut,29609.0,28435.0,27719.0,28180.0,26794.0,27475.0,27475.0,28084.0,27945.0,28522.0,28574.0,28714.0,28127.166666666668
2,Maine,13150.0,12777.0,12458.0,12430.0,12283.0,12388.0,12341.0,12361.0,12261.0,12241.0,12268.0,12230.0,12432.333333333334
3,Massachusetts,62801.0,66409.0,59556.0,61794.0,59578.0,59074.0,64659.0,62047.0,61363.0,65021.0,64826.0,65379.0,62708.916666666664
4,New Hampshire,7813.0,7609.0,7512.0,7556.0,7443.0,7414.0,7532.0,7565.0,7539.0,7523.0,7486.0,7607.0,7549.916666666667
5,New York,273263.0,267664.0,262113.0,259260.0,257025.0,257682.0,256974.0,258815.0,259168.0,258861.0,257653.0,258822.0,260608.33333333334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Oregon,58291.0,57035.0,56137.0,56492.0,55789.0,55738.0,55946.0,55943.0,56237.0,55977.0,55789.0,55789.0,56263.583333333336
88,Washington,107422.0,104451.0,102847.0,105116.0,103354.0,103105.0,103074.0,103417.0,103202.0,103605.0,103073.0,103533.0,103849.91666666667
89,Northern Marianas,2608.0,2469.0,2422.0,2421.0,2411.0,2422.0,2373.0,2447.0,2434.0,2379.0,2329.0,2330.0,2420.4166666666665
90,"Inter-Tribal Council, AZ",5279.0,4624.0,4575.0,5117.0,4820.0,4922.0,4962.0,5067.0,5186.0,5339.0,5335.0,5126.0,5029.333333333333
91,"Navajo Nation, AZ",5750.0,5507.0,5532.0,5864.0,5732.0,5850.0,5860.0,5873.0,5862.0,6017.0,6058.0,5896.0,5816.75

In [ ]:
child.resample()